development:
  adapter: mysql2
  host: localhost
  port: 
  database: museum_tracker_development
  username: root
  password:
  gmail:
      email_address: me@gmail.com
      application_name: Gmail API Ruby
      label: Scholar

test:
  adapter: mysql2
  host: localhost
  port: 
  database: museum_tracker_test
  username: root
  password:
  gmail:
      email_address: me@gmail.com
      application_name: Gmail API Ruby
      label: Scholar

production:
  adapter: mysql2
  host: localhost
  port: 
  database: museum_tracker
  username: root
  password:
  gmail:
      email_address: me@gmail.com
      application_name: Gmail API Ruby
      label: Scholar
